In [2]:
var1="Santosh"
var2=19
var3=19.26
var4=False

In [3]:
print(f"var1: {var1}")
print("var2: %d"%(var2))
print("var3:",var3)
print("var3:",var4)

var1: Santosh
var2: 19
var3: 19.26
var3: False

In [4]:
gary_age=roger_age=tom_age=24
print("Gary's Age =",gary_age)
print("Roger's Age =",roger_age)
print("Tom's Age =",tom_age)

Gary's Age = 24
Roger's Age = 24
Tom's Age = 24

In [5]:
name="charles"
print(name, type(name))

charles <class 'str'>

In [6]:
sales_price_per_unit=4.5
num_of_unit_purchased=5

print(sales_price_per_unit)
print(num_of_unit_purchased)

type(num_of_unit_purchased)
type(sales_price_per_unit)

4.5
5

float

In [7]:
isStudent=True
has_paid_fees=False
print(isStudent)
print(has_paid_fees)

type(isStudent)
type(has_paid_fees)

myVar=None
type(myVar)

True
False

NoneType

In [8]:
my_list=[10,20,30]
print(my_list[1])

my_list=(10,20,30)
print(my_list[2])

my_dict={'Name':"Santosh",'Roll':33}
print("Name:",my_dict['Name'])
print("Roll:",my_dict['Roll'])

my_set={10,20,3,3,40}
print(my_set)

20
30
Name: Santosh
Roll: 33
{40, 10, 3, 20}

# Date: 20 May, 2025

In [9]:
27//7

3

In [10]:
True and False

False

In [11]:
print(12 not in range(13,16))
print(12 in range(13,16))

True
False

In [12]:
print(2|5)

7

In [13]:
x=500
for x in range(0,5):
    print(x)

0
1
2
3
4

In [14]:
income=100000
incentives=10000
total_income=income+incentives
print(total_income)

110000

In [15]:
incentives=12550.50
total_income=income+incentives
print(total_income)

112550.5

In [16]:
ketty_age=28
kenny_age=25

In [17]:
ketty_age==kenny_age

False

In [18]:
ketty_age<=kenny_age

False

In [19]:
ketty_age>=kenny_age

True

In [20]:
ketty_age<kenny_age

False

In [21]:
ketty_age>kenny_age

True

In [22]:
is_student=True
in_college=True
in_school=False

In [23]:
is_student or in_college

True

In [24]:
is_student or in_school

True

In [25]:
not(is_student)

False

In [26]:
number=10
(number%2==0)&(number%3==0)

False

In [27]:
(number%2==0)|(number%3==0)

True

In [28]:
num=8
if(num>0):
    print(num,'is greater than zero')
print('This is always printed')

8 is greater than zero
This is always printed

In [29]:
num=-1
if(num>0):
    print(num, 'is greater than zero')
print('This is always printed')

This is always printed

In [30]:
num=-1
if(num>0):
    print(num,'is greater than zero')
else:
    print(num,'is less than zero')
print('This is always printed')

-1 is less than zero
This is always printed

In [31]:
age=int(input('Enter age: '))
if(0<age<3):
    print('No fares for age group 0-3')
elif(3<age<10):
    print('Bus fare is 20')
elif(10<age<20):
    print('Bus fare is 25')
else:
    print('Bus fare is 30')

Bus fare is 25

In [32]:
num1=4
num2=3
num3=1
if(num1>num2):
    print(num1,'is greater')
else:
    if(num3>num2):
        print(num3,'is greater')
    else:
        print(num2,'is greater')

4 is greater

In [33]:
a=int(input('Enter first number: '))
b=int(input('Enter second number: '))
c=int(input('Enter third number: '))

if a>=b:
    if a>=c:
        greatest=a
    else:
        greatest=c
else:
    if b>=c:
        greatest=b
    else:
        greatest=c

# Output the result
print('The greatest number is: ',greatest)

The greatest number is:  3

In [34]:
num=10
addition=0
i=1

while(i<=num):
    addition=addition+i
    i=i+1
    
print("Addition is: ",addition)

Addition is:  55

In [35]:
num=range(1,11)
addition=0

for i in num:
    addition=addition+i
    
print("Addition is: ",addition)

Addition is:  55

## 21 May, 2025

In [36]:
text='Knowledge Hut'
for letter in text:
    if(letter==' '):
        print('The loop skipped a space here')
        continue
    print(letter)

K
n
o
w
l
e
d
g
e
The loop skipped a space here
H
u
t

In [37]:
levels=int(input('Enter number of levels: '))
for level in range(1,levels+1):
    for num in range(level):
        print(level, end=' ')
        
print('\n')

1 2 2

# 22 May, 2025

In [1]:
name=input('Enter your name: ')
print('Hi',name)

Hi Santosh Pattnaik

In [2]:
def greet(name):
    print('Hello',name)
    
greet('Alice')

Hello Alice

In [3]:
def function(a,b):
    return a+b
function(11,2)

13

In [25]:
PI=3.14
def circle(r):
    print('Area of the circle of radius %d is %4.2f'%(r,PI*r**2))
    print('Circumference of the circle of radius %d is %4.2f'%(r,2*PI*r))

circle(5)

Area of the circle of radius 5 is 78.50
Circumference of the circle of radius 5 is 31.40

In [26]:
def usesDefaultParam(name="Santosh"):
    print(f'My Name is {name}')
usesDefaultParam('Suriya')
usesDefaultParam()

My Name is Suriya
My Name is Santosh

In [33]:
x=lambda a,b: a*b
print(x(1,2))

2

In [34]:
def sum_all(*args):
    return sum(args)
print(sum_all(1,2,3,4,5,6,7,8,9))

45

In [44]:
def func(*args):
    print(type(args))
    sum=0
    for i in args:
        sum+=i
    print(sum)

func(1,2,3,4,5,6,7,8)

<class 'tuple'>
36

In [ ]:
# Create a function that accepts any number of keyword arguments
# and print them in the form of key=value

def dict(**kwargs):
    print(type(kwargs))
    for key,value in kwargs.items():
        print(key,value)
dict(name="Santosh",addr="BBSR")

<class 'dict'>
name Santosh
addr BBSR

In [2]:
def fact(num):
    if num==1 or num==0:
        return 1
    else:
        return num*fact(num-1)
    
print(f'Factorial of the number is {fact(7)}')

Factorial of the number is 5040

# 23 May, 2025

In [7]:
# write a function to check if a number is prime
def primeCheck(num):
    isPrime=True
    if num==1 or num==0:
        isPrime=False
    elif num>1:
        for i in range(2,int(num**0.5)+1):
            if num%i==0:
                isPrime=False
            else: isPrime=True
    if isPrime:
        print(f'The number {num} is prime')
    else:
        print(f'The number {num} is not prime')

primeCheck(8)

The number 8 is not prime

In [9]:
# create a function to calculate the area of a rectangle

def areaOfRectangle():
    length=int(input('Enter the length of the rectangle: '))
    breadth=int(input('Enter the breadth of the rectangle: '))
    
    print(f'Area of the rectangle is: {length*breadth}')

areaOfRectangle()

Area of the rectangle is: 6

In [10]:
# create a function to find the maximum of two numbers
def maxOfTwoNum():
    num1=int(input('Enter the first number: '))
    num2=int(input('Enter the second number: '))
    
    if num1>num2:
        print(f'The number {num1} is greater than {num2}')
    else:
        print(f'The number {num2} is greater than {num1}')
        
maxOfTwoNum()

The number 40 is greater than 24

In [14]:
# write a function to reverse a string
def reverseAString():
    str=input('Enter a string: ')
    
    print(str[::-1])
    
reverseAString()

hsotnas

In [16]:
# create a function to print number of vowels in a string
def countVowels():
    str=input('Enter a string: ')
    vowels=['a','e','i','o','u']
    count=0
    for i in str:
        if i in vowels:
            count+=1
    print(f'No of vowels in the string {str} is {count}')
    
countVowels()

No of vowels in the string Santosh is 2

In [37]:
class Car:
    brand='mercedes'
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def showBrand(self):
        print(f'Brand of the vehicle is: {self.brand}')
    def showModel(self):
        print(f'Model of the vehicle is: {self.model}')
        
myCar=Car('Maruti','800 AC')
Car('Mercedes-Benz','C Class').showBrand()
Car('Mercedes-Benz','C Class').showModel()
# myCar.showModel()

Brand of the vehicle is: Mercedes-Benz
Model of the vehicle is: C Class

In [40]:
class ElectricCar(Car):
    def __init__(self,charge,brand,model):
        self.charge=charge
        super().__init__(brand,model)
    def showCharge(self):
        print(f'Charge of the car is: {self.charge}')
    def showBrand(self):
        print(f'Brand of the car is: {self.brand}')
    def showModel(self):
        print(f'Model of the car is: {self.model}')
        
my_car=ElectricCar(70,'Maruti','Alto') 
my_car.showCharge()
my_car.showBrand()
my_car.showModel()

Charge of the car is: 70
Brand of the car is: Maruti
Model of the car is: Alto

In [11]:
# Create an object car and print it's brand
class Car:
    def __init__(self,brand,model,year):
        self.__brand=brand
        self.__model=model
        self.__year=year
        print(f'Brand of the car is {self.__brand}')
        print(f'Model of the car is {self.__model}')
        print(f'Year of the car is {self.__year}')
        
    def getBrand(self):
        return self.__brand

    def setBrand(self,brand):
        self.__brand=brand
    
    
print(Car('BMW','M3',2015).getBrand())
print(Car('BMW','M3',2015).setBrand("Mercedes-Benz"))
print(Car('BMW','M3',2015).getBrand())

Brand of the car is BMW
Model of the car is M3
Year of the car is 2015
BMW
Brand of the car is BMW
Model of the car is M3
Year of the car is 2015
None
Brand of the car is BMW
Model of the car is M3
Year of the car is 2015
BMW

In [4]:
# Create a class vehicle and create a method to start the engine
class Vehicle:
    def start_engine(self):
        print('Engine is started')

class Bike(Vehicle):
    number_of_obj=0
    def __init__(self,brand,model,year):
        self.brand=brand
        self.__model=model
        self.year=year
        self.is_running=False
        Bike.number_of_obj+=1
    def getModel(self):
        return self.__model
    def setModel(self,new_value):
        self.__model=new_value
    def start_engine(self):
        self.is_running=True
        print(f'{self.__model} engine is started')
    def start():
        print('Running')
        
my_bike=Bike("Honda","CBR 250R",2010)
my_bike.start_engine()
my_bike.number_of_obj

CBR 250R engine is started

1

In [6]:
# Create a subclass Electric car and override the start method
class ElectricCar(Bike):
    def start(self):
        print(f'Starting {self.getModel()}')
        
my_el=ElectricCar('BMW','Ionic',2025)
my_el.start()
Bike.number_of_obj

Starting Ionic

3